@model PagedList.IPagedList<main_app.Models.Api.Course>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    bool showForm = (bool)ViewBag.showForm;
}

<h2>Course List</h2>

@if (showForm)
{
    using (Html.BeginForm("Index", "Course", FormMethod.Get))
    {
        <p>
            Search: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
}
<table class="table">
    <tr>

        <th>
            Name
        </th>
        <th>
            Kind
        </th>
        <th>
            Decription
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kind.Name)
            </td>
            <td>
                @{
                    if (item.Decription.Length > 12)
                    {

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Decription)
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Show", "Details", new { id = item.Id })

                @if ((Session["UserID"] != null && ((string)Session["UserID"] == item.AuthorId)) || User.IsInRole("ROLE_ADMIN"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page,
            currentFilter = ViewBag.CurrentFilter,
            me = !showForm
        }), new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            UlElementClasses = new string[] { "pagination pagination-lg" }
        })


